herokuify-scrapyd==1.0
pymssql==2.2.5
python-dotenv==0.21.0
Scrapy==2.6.3
scrapy-autounit==0.0.32
scrapyd==1.3.0
scrapyd-client @ git+https://github.com/scrapy/scrapyd-client.git@7b737c04420a698543b9866dc0adf02d9c30fc88
Twisted==22.8.0



