# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = cryptocurrency.settings

[scrapyd]
application = herokuify_scrapyd.app.application

[deploy]
url = https://boiling-shore-22216.herokuapp.com/
project = cryptocurrency




